/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
    src: url('./assets/fonts/Nexa_Bold.otf');
    font-family: 'Nexa_Bold';
}

@font-face {
    src: url('./assets/fonts/Nexa_Light.otf');
    font-family: 'Nexa_Light';
}

/* Test du responsive

// Très large écran
@media all and (min-width: 1699.99px) {  
    *{
        color: black;
    }
}

// Large écran
@media all and (max-width: 1699.98px) {  
    *{
        color: green;
    }
}

// Moyen écran 
@media all and (max-width: 1199.98px) {  
    *{
        color: yellow;
    }
}

// Petit écran
@media all and (max-width: 991.98px) { 
    *{
        color: blue;
    }
}

// Tablette
@media all and (max-width: 768.98px) { 
    *{
        color: red;
    }
}

// Mobile
@media all and (max-width: 575.98px) { 
    *{
        color: violet;
    }
}
*/

@media all and (max-width: 320px){
}

*{
    font-family: 'Nexa_Bold'
}

body{
    font-size:8pt;
    overflow-x: hidden;

    .ttg-button{
        border-radius: 50%;
        border: 2px solid white;
        color: white;
        background-color: rgba(30, 100, 21, 0.7);
        text-decoration: none;
        cursor: pointer;

        a {
            color: white;
            text-decoration: none;
        }
    }
}

::-webkit-scrollbar {
    position: fixed;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

