/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Test du responsive

// Très large écran
@media all and (min-width: 1699.99px) {  
    *{
        color: black;
    }
}

// Large écran
@media all and (max-width: 1699.98px) {  
    *{
        color: green;
    }
}

// Moyen écran 
@media all and (max-width: 1199.98px) {  
    *{
        color: yellow;
    }
}

// Petit écran
@media all and (max-width: 991.98px) { 
    *{
        color: blue;
    }
}

// Tablette
@media all and (max-width: 768.98px) { 
    *{
        color: red;
    }
}

// Mobile
@media all and (max-width: 575.98px) { 
    *{
        color: violet;
    }
}
*/

body{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    position: fixed;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

