<div class="troc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <h2 class="title">TROC</h2>
            </div>

            <div class="col-4 col-md-4 col-sm-4 tools">
                <div class="tool geoloc" placement='top' ngbTooltip='Autour de moi'
                    (click)="showModal(geoloc)">

                    <img src="../../../assets/img/PICTO_CIBLE.png" alt="arround_me" title="Autour de moi">
                </div>

                <div class="tool filter" placement='top' ngbTooltip='Filtres'
                    (click)="showModal(filters)">

                    <img src="../../../assets/img/picto_settings.png" alt="filters" title="Filtres">
                </div>

                <div class="tool search" placement='top' ngbTooltip="Recherche par critère : pseudo, description, date d'ajout, type de graine">
                    <input type="search" [(ngModel)]="adsModel" placeholder="Rechercher une annonce">
                </div>
            </div>
        </div>

        <ng-template #filters let-cl="close" let-di="dismiss">  
            <div class="modal-content ttg-modal">  
                <div class="modal-header">  
                    <h5 class="modal-title ttg-modal-title">Filtres</h5>
                    <button type="button" class="close" (click)="cl()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body ttg-modal-text">
                    Soon ...
                </div>

                <div class="modal-footer ttg-modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="di()">Fermer</button>
                    <button type="button" class="btn btn-success" (click)="di()">Valider</button>
                </div>
            </div>
        </ng-template>

        <ng-template #geoloc let-cl="close" let-di="dismiss">  
            <div class="modal-content ttg-modal">  
                <div class="modal-header">  
                    <h5 class="modal-title ttg-modal-title">Autour de moi</h5>
                    <button type="button" class="close" (click)="cl()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body ttg-modal-text">
                    Soon ... 
                </div>

                <div class="modal-footer ttg-modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="di()">Fermer</button>
                    <button type="button" class="btn btn-success" (click)="di()">Valider</button>
                </div>
            </div>
        </ng-template>

        <div class="row ads">
            <div class="col">
                <div class="list">
                    <div class="ad" *ngFor="let ad of adsList">
                        <div class="left-side">
                            <img src='../../../assets/img/seed.png' alt="image_ad" title="image de l'annonce">
                        </div>

                        <div class="right-side">
                            <div class="ad-title">{{ ad.type }} de {{ ad.seedVariety.name }}</div>
                            <div class="ad-infos">
                                par <em class="underlined">{{ ad.author.name }}</em>
                                <p>Malakoff</p>
                            </div>

                            <div class="ad-more">
                                <span>
                                    Voir l'annonce
                                    <img src='../../../assets/img/flecheDverte.png' alt="right_arrow" title="droite">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-1 more">
                <img class="btn-more" src="../../../assets/img/flecheDrond.png">
            </div>
        </div>

        <div class="row">
            <div class="offset-3 col-6 ">
                <div class="btn-new" routerLink='/ads/formular'>
                    <span>
                        <img class="seedy" placement='left' (mouseenter)='seedyText = seedysInteraction.setSeedyText(seedyIsClicked)' [ngbTooltip]="seedyText" src="../../../assets/img/Heureux.png" (click)='seedyIsClicked = true' [ngStyle]="seedyIsClicked === true ? {'transform': 'rotate(360deg)'} : ''"  alt="seedy" title="Seedy la petite graine toute mignonne">
                        Dépose une annonce
                        <img class="arrow" src="../../../assets/img/flecheDblanche.png" alt="right_arrow" title="droite">
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>