<div class="ads-listing" *ngIf="deviceService.isMobile()">
  <app-header></app-header>

  <div class="content container">
    <h4 class="title">Les annonces</h4>
    <div class="row tools">
      <div class="col buttons">

        <div class="tool geoloc" placement='top' ngbTooltip='Autour de moi'
          (click)="showModal(geoloc)">
      
          <img src="../../../assets/img/PICTO_CIBLE.png" alt="arround_me" title="Autour de moi">
        </div>
      
        <div class="tool filter" placement='top' ngbTooltip='Filtres'
            (click)="showModal(filters)">
      
            <img src="../../../assets/img/picto_settings.png" alt="filters" title="Filtres">
        </div>

      </div>

      <div class="col search">
        <input type="search" placeholder="Recherche ...">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <app-list [list]='adList'></app-list>
      </div>
    </div>

  </div>

  <div class="gradient-separator" *ngIf="adList.length > 4"></div>

  <div class="ad-btn-new">
    <span>
      Dépose une annonce
      <img src="../../../../assets/img/flecheDblanche.png">
    </span>
  </div>
</div>

<ng-template #filters let-cl="close" let-di="dismiss">  
    <div class="modal-content ttg-modal">  
        <div class="modal-header">  
            <h5 class="modal-title ttg-modal-title">Filtres</h5>
            <button type="button" class="close" (click)="cl()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body ttg-modal-text">
            Soon ...
        </div>

        <div class="modal-footer ttg-modal-footer">
            <button type="button" class="btn btn-secondary" (click)="di()">Fermer</button>
            <button type="button" class="btn btn-success" (click)="di()">Valider</button>
        </div>
    </div>
</ng-template>

<ng-template #geoloc let-cl="close" let-di="dismiss">  
    <div class="modal-content ttg-modal">  
        <div class="modal-header">  
            <h5 class="modal-title ttg-modal-title">Autour de moi</h5>
            <button type="button" class="close" (click)="cl()">
                <span aria-hidden="true">×</span>
            </button>
        </div>

        <div class="modal-body ttg-modal-text">
            Soon ... 
        </div>

        <div class="modal-footer ttg-modal-footer">
            <button type="button" class="btn btn-secondary" (click)="di()">Fermer</button>
            <button type="button" class="btn btn-success" (click)="di()">Valider</button>
        </div>
    </div>
</ng-template>
