@import '../../../assets/animations/animations.less';

@media all {

    @media (max-width: 425px){
        
    }
}

.home {
    position: relative;
    width: 100%;

    .first-view{
        position: relative;
        width: 100%;
        height: 100vh;
        text-align: center;

        background: no-repeat url('../../../assets/img/FOND_MENU_LOGO.png');
        background-position: center;
        background-size: cover;

        .actu{
            position: relative;
            display: flex;
            float: right;
            margin-top: 15px;
            margin-right: 15px;
            opacity: 0.9;

            img {
                width: 90px;
                height: 90px;
            }
        }

        .arrow-down{
            position: absolute;
            width: 50px;
            height: 50px;

            left: calc(~'50% - 25px');
            bottom: 10%;

            -webkit-animation: pulsation 2.5s infinite; /* Safari 4+ */
            -moz-animation:    pulsation 2.5s infinite; /* Fx 5+ */
            -o-animation:      pulsation 2.5s infinite; /* Opera 12+ */
            animation:         pulsation 2.5s infinite; /* IE 10+, Fx 29+ */

            img{
                position: absolute;
                top: 0;
                left: 0;
                width: 50px;
                height: 50px;
            }
        }
    }

    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: white;

        .nav-button{
            position: relative;
            height: 80px;

            background-color: tomato;
            display: flex;
            z-index: 3;

            font-size: 1.6rem;

            flex-direction: column;
            justify-content: center;
            text-align: center;

            .help{
                position: absolute;
                right: 15px;
                top: 0;

                font-weight: bold;
                font-size: 0.6em;
            }
        }

        #login{
            background-color: #9BED65;
        }

        #ads {
            background-color: #70C651;
        }

        #garden {
            background-color: #459E3C;
        }

        #perma {
            background-color: #23802B;
        }

        #forum {
            background-color: #08671F;
        }

        #doc {
            background-color: #015719;
        }

        #kesako {
            background-color: rgb(1, 87, 25);
            opacity: 0.6;
        }
    }
    
    
    .social-medias{
        z-index: 1;
        position: relative;
        margin-top: -80px;
        background-color: green;

        background: no-repeat center url('../../../assets/img/FOND_FOOTER.png');
        background-attachment: fixed;
        background-position: left bottom;
        background-position-x: 15%;
        background-size: cover;
        
        .list {
            padding: 150px 30px 80px 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            .img-rs{
                height: 30px;
                width: 30px;
            }
        }

        .chart {
            position: absolute;
            width: 100%;
            text-align: center;

            bottom: 40px;
            text-decoration: underline;
            color: white;
        }
    }
}        