/* CSS Document */

.blocTransition {
	transition: all 0.6s ease 0s;
	padding: 10px 20px 20px 20px;
	text-align: justify;
}

.blocTransition:hover {
	background-color: #DFDACF;
	
}

.blocTransition:hover h1 {
	transition: all 0.4s ease 0s;
	color: white;
}


.colorTexte {
	color: #666666;
}

.divEquipe {
	margin-top: 60px;
	margin-bottom: 30px;
}

.textCenter {
	text-align: center;
	margin-top: 20px;
}


.center {
    text-align: center;
}

.trombinoscope {
	transition: all 0.4s ease 0s;
	margin-bottom: 20px;
	margin-top: 20px;
	width: 110px;
}

.trombinoscope:hover {
	box-shadow: 0px 0px 0px 15px #DFDACF;
}

.nomTrombinoscope {
	text-align: center;
	font-size: 15px;
}


.titreSection {
	font-size: 1.75rem;
	font-weight: 320;
	line-height: 1.2;
	margin-bottom: 20px;
}