<div class="home">
    <div class="first-view">
        <div class="actu">
            <p>Actualités</p>
            <img class="img" src="#">
        </div>

        <div [ngx-scroll-to]="'#login'" class="btn arrow-down ttg-button">
            >
            <!--<img src="#" alt="arrow-down">-->
        </div>
    </div>

    <div class="menu">
        <div id="login" class="nav-button" routerLink='/login'>
            Se Connecter
        </div>

        <div id="ads" class="nav-button" routerLink='/ads'>
            <div class="help">?</div>
            Annonces
        </div>

        <div id="garden" class="nav-button" routerLink='/garden'>
            <div class="help">?</div>
            Partage ton Jardin
        </div>

        <div id="perma" class="nav-button">
            <div class="help">?</div>
            La Permaculture
        </div>

        <div id="forum" class="nav-button" routerLink=''>
            <div class="help">?</div>
            Forum
        </div>

        <div id="doc" class="nav-button" routerLink='/documentation'>
            <div class="help">?</div>
            Documentation
        </div>

        <div id="kesako" class="nav-button" routerLink='/kesako'>
            <div class="help">?</div>
            Kesako
        </div>

    </div>

    <div class="social-medias">
        <div class="list">
            <img class='img-rs' src='../../../assets/img/facebook.svg' alt="facebook">
            <img class='img-rs' src="../../../assets/img/instagram.svg" alt="instagram">
            <img class='img-rs' src="../../../assets/img/youtube.svg" alt="youtTube">
            <img class='img-rs' src="../../../assets/img/twitter.svg" alt="twitter">
        </div>

        <div class="chart">Charte d'utilisation</div>
    </div>
</div>