<div class="home" *ngIf="deviceService.isMobile() === true" [@fadeInOut]>
    <div class="headpage">
        <div class="actu">
            <img src="../../../assets/img/Actualite_ICON.png">
        </div>

        <div [ngx-scroll-to]="'#login'" class="btn arrow-down">
            <img src="../../../assets/img/flecheBrond.png" alt="arrow-down">
        </div>

        <div class="gradient-separator"></div>
    </div>


    <div class="menu">
        <div id="login" *ngIf="!authService.isAuthenticated()" class="nav-button " (click)='authService.login()'>
            Se Connecter
        </div>

        <div id="login" *ngIf="authService.isAuthenticated()" class="nav-button " routerLink='/account'>
            Mon Compte
        </div>

        <div id="login" *ngIf="authService.isAuthenticated()" class="nav-button " (click)='authService.logout()'>
            Se Déconnecter
        </div>


        <div id="ads" class="nav-button" routerLink='/ads'>
            <div class="help">?</div>
            Annonces
        </div>

        <div id="garden" class="nav-button">
            <div class="help" (click)="showModal(info, 'perma')">?</div>
            <span routerLink='/garden'>Partage ton Jardin</span>
        </div>

        <div id="perma" class="nav-button">
            <div class="help" (click)="showModal(info, 'perma')">?</div>
            La Permaculture
        </div>

        <div id="forum" class="nav-button" routerLink='/forum'>
            Forum
        </div>

        <div id="doc" class="nav-button" routerLink='/documentation'>
            <div class="help" (click)="showModal(info, 'doc')">?</div>
            Documentation
        </div>

        <div id="kesako" class="nav-button" routerLink='/kesako'>
            <div class="help" (click)="showModal(info, 'kesako')">?</div>
            Kesako
        </div>

        <ng-template #info let-cl="close" let-di="dismiss">  
            <div class="modal-content ttg-modal">  
                <div class="modal-header">  
                    <h5 class="modal-title ttg-modal-title">Informations</h5>
                    <button type="button" class="close" (click)="cl()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body ttg-modal-text">
                    <p *ngIf="context === 'perma'">Texte sur la permaculture</p>
                    <p *ngIf="context === 'doc'">Doc</p>
                    <p *ngIf="context === 'kesako'">Kesako</p>
                </div>

                <div class="modal-footer ttg-modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="di()">Fermer</button>
                </div>
            </div>
        </ng-template>

    </div>

    <div class="social-medias">
        <div class="list">
            <img class='img-rs' src='../../../assets/img/facebook.svg' alt="facebook">
            <img class='img-rs' src="../../../assets/img/insta.png" alt="instagram">
            <img class='img-rs' src="../../../assets/img/youtube.svg" alt="youtTube">
            <img class='img-rs' src="../../../assets/img/twitter.svg" alt="twitter">
        </div>

        <div class="chart">Charte d'utilisation</div>
    </div>
</div>

<div class="home" *ngIf="deviceService.isDesktop() === true" [@fadeInOut]>
    <div class="bg-cover" *ngIf="menuIsHidden === false" [@fadeInOut]></div>

    <div class="navigation" *ngIf="menuIsHidden === false" [@fadeInOut]>

        <div class="menu" [@fadeInOut]>
            <div class="cancel-arrow" (click)='menuIsHidden = !menuIsHidden'>
                <img src="../../../assets/img/flecheDblanche.png" alt="back" title="Retour">
            </div>

            <div class="header">
                <div id="ads" class="nav-button" routerLink='/ads'>
                    Annonces
                </div>
        
                <div id="garden" class="nav-button">
                    Partage ton Jardin
                </div>
        
                <div id="perma" class="nav-button">
                    La Permaculture
                </div>
        
                <div id="forum" class="nav-button" (click)="redirectTo('forum')">
                    Forum
                </div>
        
                <div id="doc" class="nav-button" routerLink='/documentation'>
                    Documentation
                </div>
        
                <div id="kesako" class="nav-button" routerLink='/kesako'>
                    Kesako
                </div> 
            </div>

            <div class="footer">
                <div id="login" *ngIf="!authService.isAuthenticated()" class="nav-button" (click)='authService.login()'>
                    Se Connecter
                </div>
        
                <div id="login" *ngIf="authService.isAuthenticated()" class="nav-button " routerLink='/account'>
                    Mon Compte
                </div>

                <div id="login" *ngIf="authService.isAuthenticated()" class="nav-button " (click)='authService.logout()'>
                    Déconnexion
                </div>
            </div>
        </div>
    </div>

    <div class="headpage">

        <div class="brand">
            <img src="../../../assets/img/Logo Seul Blanc.png" title="logo" alt="logo">
        </div>

        <div class="btn-menu" *ngIf="menuIsHidden === true" (click)='menuIsHidden = !menuIsHidden' [@fadeInOut]>
            <img src="../../.././assets/img/LEAF_MENU.png" title="leaf menu" alt="LEAF_MENU">
        </div>

        <div [ngx-scroll-to]="'#actuality'" class="btn arrow-down">
            <img src="../../../assets/img/flecheBrond.png" alt="arrow-down">
        </div>
    </div>

    <div id="actuality" class="actuality">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="title upper-c">Actualités</h2>
                    <div class="actu">
                        <div class="left-side">
                            <p>Text à afficher</p>
                        </div>

                        <div class="right-side">
                            <img src="#" alt="img_cover" title="cover">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-troc></app-troc>

    <app-social-media></app-social-media>
</div>