<div class="login container" [@fadeInOut]>
  <ngb-alert [@displayLogMessage] *ngIf="testMessage" type="success" (close)="testMessage = null">
    {{ testMessage }} - {{ timer }}
  </ngb-alert>

  <div class="header">
    <div class="brand">
      <img src="#" alt="troc_ta_graine" title="Troc ta Graine">
    </div>

    <div class="menu">
      <img class="img-menu" src="#">
    </div>
  </div>

  <div class="formular" style="text-align: center;">

    <h4 class="title txt-color">Déjà inscrit ?</h4>

    <div class="inputs">

      <div class="email">

        <label class="txt-color" for="email">Ton email</label>
        <br/>
        <input type="email" [(ngModel)]="login" placeholder="Adresse mail">
      </div>

      <div class="pwd">
        <label class="txt-color" for='pwd'>Ton mot de passe</label>
        <br/>
        <input type="password" [(ngModel)]="password" placeholder="Mot de passe">
      </div>
    </div>
  
    <div class="forgotten-pwd">
      <a class="txt-color" routerLink='forgotten-password'>Mot de passe oublié ?</a>
    </div>


    <div class="registration">
      <span>
        <img src="#">
        <a routerLink="/login/register">S'inscrire</a>
        <img src="#">
      </span>
    </div>
  
    <button class="btn-submit" (click)="authService.login(login, password); displayAlertMessage()">
      <span>Se Connecter
        <img src="#">
      </span>
    </button>
  </div>

  <div class="charte">
      <a class="txt-color" routerLink='charte'>Charte d'utilisation | Mentions légales</a>
  </div>
</div>

<!--
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Auth0 - Angular</a>
  
        <button
          class="btn btn-primary btn-margin"
          routerLink="/">
            Home
        </button>
  
        <button
          class="btn btn-primary btn-margin"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()">
            Log In
        </button>
  
        <button
          class="btn btn-primary btn-margin"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()">
            Log Out
        </button>
  
      </div>
    </div>
  </nav>
  -->