.login{
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;

    .header{
        width: 100%;
        height: 35%;

        .brand {
            margin-top: 75px;
        }

        .menu {
            position: absolute;
            top: 5%;
            right: 10%;


            .img-menu {
                width: 40px;
                height: 40px;
            }
        }
    }
   

    .formular{
        position: relative;

        width: 85%;
        height: 65%;
        margin: 18% auto auto auto;

        text-align: center;

        padding: 50px 35px 0 35px;
        
        background: -moz-linear-gradient(top, rgba(82,177,82,0.7) 0%, rgba(0,138,0,0.7) 50%, rgba(0,87,0,0.7) 99%, rgba(0,36,0,0.7) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(82,177,82,0.7) 0%,rgba(0,138,0,0.7) 50%,rgba(0,87,0,0.7) 99%,rgba(0,36,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(82,177,82,0.7) 0%,rgba(0,138,0,0.7) 50%,rgba(0,87,0,0.7) 99%,rgba(0,36,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b352b152', endColorstr='#b3002400',GradientType=0 ); /* IE6-9 */

        //background-color: rgba(15, 105, 37, 0.692);

        .title{
            text-align: left;
            margin-bottom: 3.5rem;
        }

        .seed {
            position: absolute;
            top: 0;
            left: 15px;
        }

        .inputs{
            text-align: center;

            label{
                float: left;
                font-weight: bold;
                font-size: 0.8em;
            }

            input {
                padding-left: 10px;
                border: 0;
                border-bottom: 2px solid white;
                background: transparent;
                width: 100%;
            }

            ::-webkit-input-placeholder{
                color: rgb(221, 221, 221);
            }

            .email, .pwd{
                width: 100%;
            }

            .email{
                margin-bottom: 40px;
            }

            .pwd{
                margin-bottom: 15px;
            }
        }

        a.txt-color, .txt-color{
            color: white;
            text-decoration: none;
        }

        .forgotten-pwd{
            float: right;
            font-size: 0.7em;

            font-weight: bold;
            text-decoration: none;
        }

        .registration {
            position: relative;

            margin: 50px auto 70px auto;

            a{
                color: #70c651;
                text-decoration: underline;

                font-size: 1.4em;
            }
        }

        .btn-submit{
            position: absolute;

            font-size: 1.7em;

            bottom: 0;
            left: 0;

            height: 60px;
            width: 100%;

            border: 0;

            color: white;

            background-color: #70c651;
        }
    }    

    .charte{
        position: relative;

        margin: 10% auto;


        a{
            color: black;
            text-decoration: underline;
        }
    }
}
