<div class="login">
    <div class="formular" style="text-align: center;">

      <h4 class="title txt-color">Je m'authentifie !</h4>

      <div class="inputs">

        <div class="email">

          <label class="txt-color" for="email">Login</label>
          <br/>
          <input type="email" [(ngModel)]="login" placeholder="Adresse mail">
        </div>

        <div class="pwd">
          <label class="txt-color" for='pwd'>Mot de passe</label>
          <br/>
          <input type="password" [(ngModel)]="password" placeholder="Mot de passe">
        </div>
      </div>
    
      <div class="forgotten-pwd">
        <a class="txt-color" routerLink='forgotten-password'>Mot de passe oublié ?</a>
      </div>


      <div class="registration">
        <span>
          <img src="#">
          <a routerLink="register">S'inscrire</a>
          <img src="#">
        </span>
      </div>
    
      <button class="btn-submit" (click)="checkValues(login, password)">
        <span>Se connecter
          <img src="#">
        </span>
      </button>

      <div class="charte">
        <a class="txt-color" routerLink='charte'>Charte d'utilisation</a>
      </div>
    </div>
      
</div>

