<div class="social-medias">
    <div class="list">
        <a href="#"><img class='img-rs' src='../../../../assets/img/facebook.svg' alt="facebook"></a>
        <a href="#"><img class='img-rs' src="../../../../assets/img/insta.png" alt="instagram"></a>
        <a href="#"><img class='img-rs' src="../../../../assets/img/youtube.svg" alt="youtTube"></a>
        <a href="#"><img class='img-rs' src="../../../../assets/img/letter.svg" alt="directMail"></a>
        <a href="#"><img class='img-rs' src="../../../../assets/img/twitter.svg" alt="twitter"></a>
    </div>

    <div class="chart">Charte d'utilisation | Mentions légales</div>
</div>