@media all {
    @media (max-width: 425px) {
        .header{
            position: relative;
            height: 21vh;
            // background-color: aqua;

            text-align: center;

            display: flex;
            justify-content: center;
            flex-direction: row;

            .back-btn {
                position: absolute;
                top: 10%;
                left: 7%;

                img {
                    width: 25px;
                }
            }

            .seedy {
                position: absolute;
                top: 40%;
                left: 8%;
                
                width: 45px;
            }

            .menu {
                position: absolute;
                right: 7%;
                top: 15%;

                img {
                    width: 50px;
                }
            }

            .brand {
                position: absolute;
                margin-top: 40px;

                img {
                    top: 50px;
                    width: 150px;
                }
            }
        }

        .nav-menu {
            position: fixed;
            width: 100%;
            height: calc(~'100% - 60px');
        
            top: 0;
            left: 0;
        
            z-index: 90;
            display: flex;
            flex-direction: column;
            text-align: center;
            color: white;
        
            background: linear-gradient(to bottom,
                #9BED65 0%,
                #70C651 16.6%,
                #459E3C 32.2%,
                #23802B 49.8%,
                #08671F 66.4%,
                #015719 88.3%
                #015719 100%);
        
            .nav-head{
                position: relative;
                height: 60px;
                img {
                    position: relative;
                    float: right;
                    margin: 15px 20px 0 0;
        
                    width: 25px;
                }
            }
            
            .navigation {
                position: relative;
                .nav-button{
                    position: relative;
                    height: 28%;
                    width: 100%;
                    display: flex;
                    z-index: 99;
            
                    font-size: 1.6rem;
            
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
            
                    .help{
                        z-index: 1000;
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        right: 0;
                        top: 0;
            
                        font-weight: bold;
                        font-size: 0.8em;
                    }
                }
            }
        }
    }
}
