<div class="container-fluid divLogo">
  <div class="row"> 
      <div class="col-12 center">
          <a routerLink="index.html"></a><img class="img-fluid logo" src="../../../assets/img/logo_final.png" alt="Troc ta Graine">
      </div>
  </div>
</div>

<!-- NAVIGATION -->
<div class="container navigationBarreSimple">
  <div class="row">
      <div class="col-3">
          <a routerLink="home">Accueil</a>
      </div>

      <div class="col-3">
          <a routerLink="about">À propos</a>
      </div>

      <div class="col-3">
          <a routerLink="ads">Annonces</a>
      </div>

      <div class="col-3">
          <a routerLink="login">Se connecter</a>
      </div>
  </div>
</div>

<hr>