.divLogo {
	padding: 20px 0 20px 0; 
    background-color: #FFF4CA;

    .center {
        text-align: center;

        .logo {
            width: 200px;
        }
    }

    img {
        align-content: center;
    }
}

.navigationBarreSimple {
    text-align: center;

    padding: 45px 0 0 0;
    
    font-size: 1.0em;
    color: #225B25;
    
    a {
        transition: all 0.3s ease 0s;
        text-decoration: none;

        :hover {
            color: black;
        }
    }    
}