<div class="garden-list">
  <div class="header">
    <div class="btn-new">
      <a routerLink='garden-formular'>
        <button>Je partage mon jardin ></button>
      </a>
    </div>

    <div class="settings">
      <span>
        Les + récents 
        <div class="btn-settings">
          <img class="settings-img" src='../../../assets/img/settings.png'>
        </div>
      </span>
    </div>
  </div>

  <div class="content">
    <div class="list">
      <div class="garden" *ngFor="let garden of gardens">
        <app-garden [garden]='garden'></app-garden>
      </div>
    </div>
  </div>
</div>